<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference 
        for="PushpakMods\Popup\Api\PopupRepositoryInterface"
        type="PushpakMods\Popup\Service\PopupRepository"
    />
    <preference 
        for="PushpakMods\Popup\Api\Data\PopupInterface"
        type="PushpakMods\Popup\Model\Popup"
    />
     <preference 
        for="PushpakMods\Popup\Api\PopupManagementInterface"
        type="PushpakMods\Popup\Service\PopupManagement"
    />
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pushpakmods_popup_listing_data_source" xsi:type="string">PushpakMods\Popup\Model\ResourceModel\Popup\Grid\Collection</item>
           </argument>
        </arguments>
    </type>

        <type name="PushpakMods\Popup\Model\ResourceModel\Popup\Grid\Collection">
            <arguments>
                <argument name="mainTable" xsi:type="string">magemastery_popup</argument>
                <argument name="eventPrefix" xsi:type="string">pushpakmods_popup_grid_collection</argument>
                <argument name="eventObject" xsi:type="string">popup_grid_collection</argument>
                <argument name="resourceModel" xsi:type="string">PushpakMods\Popup\Model\ResourceModel\Popup</argument>
            </arguments>
        </type>
</config>
